# conf/config2.yaml

# model parameters
vocab_size: 27
d_model: 256
n_layers: 4
n_heads: 8
max_len: 128
mlp_ratio: 4
dropout: 0.2

# tunable hyperparameters
batch_size: 64
learning_rate: 0.001
